<!-- Nav Bar -->
<!-- <div class='navbar navbar-fixed-top' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle'
              data-toggle='collapse'
              data-target='.navbar-collapse'>
          <span><i class="fa fa-3x fa-bars"></i></span>
      </button>


        <%= image_tag('brand-logo.png', width: '220', height: '60', alt: 'Site Logo', class: 'logo') %></a>
    </div>

    <div class='navbar-collapse collapse'>

      <ul class='nav navbar-nav navbar-right'>
        <li><a href='#'>Profile</a></li>
        <li><a href='#'>Settings</a></li>
        <li><a href='#'>Log Out</a></li>
      </ul>
    </div>
  </div>
</div> -->




<!-- Footer -->
<!-- <div class='navbar navbar-fixed-bottom'>
  <div class="container">
    <div class='row'>
    <br>
      <a href='#'> <!-- Profile Page Link -->
      <!-- <span id='left'><i class="fa fa-4x fa-users"></i></span></a> -->

      <!-- <a href='#'> <!-- List of Events --> -->
      <!-- <span id='middle'><i class="fa fa-4x fa-list"></i></span></a> -->
<!--
      <a href='#'><!-- Chatting --> --> -->
      <!-- <span id='right'><i class="fa fa-4x fa-commenting"></i></span></a>
    </div>
  </div>
</div>
<br> -->
