<div class="container-fluid evmain-body">

  <div class="row">
    <div class="col-xs-12"></div>
    <div class="home-logo">
      <img src="/assets/brand-logo.png"/>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12"></div>
    <div class="check-in-form">
      <input type="text" name="firstname" value="firstname">
      <br>
      <input type="text" name="lastname" value="lastname">
      <br>
      <input type="submit" value="Check-in">
    </div>
  </div>
</div>
