.home-logo {
  width : 40vh;
  margin : 20vh auto;
}

.home-logo img {
  width : 100%;
}

.allpages {
  background-color: white;
}

.check-in-form {
  width : 40vh;
  margin : 20vh auto;
    text-align:center;
}
