<div class='navbar navbar-fixed-bottom'>
  <div class="container">
    <div class='row'>
    <br>
      <a href='#'> <!-- Profile Page Link -->
      <span id='left'><i class="fa fa-4x fa-users"></i></span></a>

      <a href='#'> <!-- List of Events -->
      <span id='middle'><i class="fa fa-4x fa-list"></i></span></a>

      <a href='#'><!-- Chatting -->
      <span id='right'><i class="fa fa-4x fa-commenting"></i></span></a>
    </div>
  </div>
</div>
<br>
