<div class='navbar navbar-fixed-bottom'>
  <div class="container-fluid">
    <div class='row'>
    <div class="col-xs-4 evicon">
      <a href='#'> <!-- Profile Page Link -->
     <span id='left'><i class="fa fa-4x fa-users"></i></span></a>
    </div>

    <div class="col-xs-4 evicon">
      <a href='#'> <!-- List of Events -->
      <span id='middle'><i class="fa fa-4x fa-list"></i></span></a>
    </div>

    <div class="col-xs-4 evicon">
      <a href='#'><!-- Chatting -->
      <span id='right'><i class="fa fa-4x fa-commenting"></i></span></a>
    </div>


    </div>
  </div>
</div>
<br>
