<div class='navbar navbar-fixed-top' role='navigation'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle'
              data-toggle='collapse'
              data-target='.navbar-collapse'>
          <span><i class="fa fa-3x fa-bars"></i></span>
      </button>


        <%= image_tag('brand-logo.png', width: '220', height: '60', alt: 'Site Logo', class: 'logo') %></a>
    </div>

    <div class='navbar-collapse collapse'>

      <ul class='nav navbar-nav navbar-right'>
        <li><a href='#'>Profile</a></li>
        <li><a href='#'>Settings</a></li>
        <li><a href='#'>Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
